.post {
    justify-content: center;
    background-color: white;
    width: 40%;
    margin: 30px 30%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.post h2 {
    font-size: 30px;
}

.post img {
    width: auto;
    height: auto;
    margin: 15px 0;
}