.header {
  align-items: center;
  display: flex;
  background-color: #ffffff;
  color: #000000;
  justify-content: center;
  height: 65px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 30%;
}

img {
    width: 65px;
    height: 65px;
}

span {
    color: rgb(251,68,4);
}

input[type=text] {
    padding: 6px;
    border-radius: 4px;
    background-color: rgb(212, 205, 195);
    color: white;
    border: none;
}

button[type=submit] {
    background-color: rgb(251,68,4);
    color: white;
    padding: 6px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }